{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2>Slots Available</h2>
        {% for slot in slot_lis %}
            {% if slot.is_booked == False %}
                <p>{{ slot.start_time }} to {{ slot.end_time }}</p>
            {% endif %}
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Slot Booking</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request a Booking</button>
            </div>
        </form>
    </div>
{% endblock content %}