{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ sport }}</h1>
    <img src="{{ game.image.url }}" alt="game image" width="300">
    <h2>Details:</h2>
    <br>
    <h3>Courts Available:</h3>
    {% for court in game.court.all %}
        <h4>{{ court.name }}</h4>
        <h4>Courts Available:</h4>
        <h5>{{ court.number }}</h5>
    
    {% endfor %}
    <h3>Inventory</h3>
    {% for tool in game.inventory.all %}
        <p>{{ tool.name }} : {{ tool.amount }}</p>
    {% endfor %}
{% endblock content %}