{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ game.name }}</h1>
    <img src="{{ game.image.url }}" alt="game image" width="300">
    <h2>Details:</h2>
    <br>
    <h3>Courts:</h3>
    {% for court in game.court_set.all %}
        <h4>{{ court.name }}</h4>
        <p>Available: {{ court.number }}</p>
    {% endfor %}

    <h3>Inventory</h3>
    {% for tool in game.inventory_set.all %}
        <p>{{ tool.name }} : {{ tool.amount }}</p>
    {% endfor %}

{% endblock content %}