{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Home</h1>
    <h3>Sports</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for game in sports %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="{{ game.image.url }}" alt="sport image">
                        <a href="sport/{{ game.code }}/" class="link-dark"><h5 class="card-title">{{ game.name }}</h5></a>
                        <p class="secondary">**Something**</p>
                        <p class="card-text">**Description**</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">**Last updated**</small>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
    </div>
{% endblock content %}